<% content_for :page_title do %>
  <%= plural_resource_name(Spree::InstagramUser) %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:new_instagram_user), new_object_url, class: "btn-success", icon: 'add' %>
<% end if can?(:create, Spree::InstagramUser) %>

<% if @instagram_users.any? %>
  <table class="table">
    <thead>
      <tr>
        <th><%= Spree.t(:username) %></th>
        <th><%= Spree.t(:name) %></th>
        <th><%= Spree.t(:profile_picture) %></th>
        <th data-hook="admin_instagram_users_index_header_actions" class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @instagram_users.each do |instagram_user| %>
        <tr id="<%= spree_dom_id instagram_user %>">
          <td><%= link_to instagram_user.name, edit_admin_instagram_user_path(instagram_user) %></td>
          <td><%= instagram_user.username %></td>
          <td><%= image_tag main_app.url_for(instagram_user.image.url(:thumbnail)) if instagram_user.image %></td>
          <td class="actions actions-2" data-hook="admin_instagram_users_index_row_actions">
            <%= link_to_edit instagram_user, no_text: true if can?(:edit, instagram_user) %>
            <%= link_to_delete instagram_user, no_text: true if can?(:delete, instagram_user) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-info no-objects-found">
    <%= Spree.t(:no_resource_found, resource: plural_resource_name(Spree::InstagramUser)) %>,
    <%= link_to Spree.t(:add_one), new_object_url if can?(:create, Spree::InstagramUser) %>!
  </div>
<% end %>
