<% content_for :page_title do %>
  <%= Spree.t(:instagram_posts) %>
<% end %>

<% content_for :page_actions do %>
  <% if @instagram_settings.code.present? %>
    <%= button_link_to Spree.t(:load_posts_from_api), download_admin_instagram_posts_path, class: "btn-primary", icon: 'download' %>
  <% end %>
  <%= button_link_to Spree.t(:instagram_settings), edit_admin_instagram_settings_path, class: 'btn btn-primary' %>
<% end %>

<% if @instagram_settings.code.present? %>
  <%= render 'table', instagram_posts: @instagram_posts %>
<% else %>
  <div class="alert alert-warning">
    <%= Spree.t(:please_setup_instagram) %>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <%= button_link_to Spree.t(:instagram_settings), edit_admin_instagram_settings_path, class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
