<% content_for :page_title do %>
  <%= plural_resource_name(Spree::HomePageSection) %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:new_section), new_object_url, class: "btn-success", icon: 'add' %>
<% end if can?(:create, Spree::HomePageSection) %>


<% if @home_page_sections.any? %>
  <table class="table sortable" data-sortable-link="<%= update_positions_admin_home_page_sections_url %>">
    <thead>
      <tr>
        <th></th>
        <th><%= Spree.t(:name) %></th>
        <th><%= Spree.t(:section_type) %></th>
        <th><%= Spree.t(:title) %></th>
        <th><%= Spree.t(:description) %></th>
        <th><%= Spree.t(:visible) %></th>
        <th><%= Spree.t(:fields) %></th>
        <th data-hook="admin_home_page_sections_index_header_actions" class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @home_page_sections.each do |section| %>
        <tr id="<%= spree_dom_id section %>">
          <td class="move-handle">
            <span class="icon icon-sort handle"></span>
          </td>
          <td><%= link_to section.name, edit_admin_home_page_section_path(section) %></td>
          <td><%= section.home_page_section_type&.name %></td>
          <td><%= section.title %></td>
          <td><%= section.description %></td>
          <td><%= section.visible %> (<%= Spree.t(:mobile) %>: <%= section.mobile_visible %>)</td>
          <td><%= section.home_page_fields.map(&:name).join(' ,') %></td>
          <td class="actions actions-2" data-hook="admin_home_page_sections_index_row_actions">
            <%= link_to_edit section, no_text: true if can?(:edit, section) %>
            <%= link_to_delete section, no_text: true if can?(:delete, section) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-info no-objects-found">
    <%= Spree.t(:no_resource_found, resource: plural_resource_name(Spree::HomePageSection)) %>,
    <%= link_to Spree.t(:add_one), new_object_url if can?(:create, Spree::HomePageSection) %>!
  </div>
<% end %>
