<% content_for :page_title do %>
  <%= plural_resource_name(Spree::HomePageField) %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:new_field), new_object_url, class: "btn-success", icon: 'add' %>
<% end if can?(:create, Spree::HomePageField) %>

<% if @home_page_fields.any? %>
  <table class="table">
    <thead>
      <tr>
        <th><%= Spree.t(:name) %></th>
        <th><%= Spree.t(:title) %></th>
        <th><%= Spree.t(:field_type) %></th>
        <th><%= Spree.t(:content) %></th>
        <th><%= Spree.t(:section) %></th>
        <th data-hook="admin_home_page_fields_index_header_actions" class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @home_page_fields.each do |field| %>
        <tr id="<%= spree_dom_id field %>">
          <td><%= link_to field.name, edit_admin_home_page_field_path(field) %></td>
          <td><%= field.title %></td>
          <td><%= field.field_type %></td>
          <td><%= field.content %></td>
          <td><%= field.home_page_section&.name %></td>
          <td class="actions actions-2" data-hook="admin_home_page_fields_index_row_actions">
            <%= link_to_edit field, no_text: true if can?(:edit, field) %>
            <%= link_to_delete field, no_text: true if can?(:delete, field) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-info no-objects-found">
    <%= Spree.t(:no_resource_found, resource: plural_resource_name(Spree::HomePageField)) %>,
    <%= link_to Spree.t(:add_one), new_object_url if can?(:create, Spree::HomePageField) %>!
  </div>
<% end %>
